.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}
.header-wrapper {
  display: flex;
  gap: 20px;
}
.wrapper-selected {
  display: flex;
  border: 3px solid yellow;
  border-radius: 10px;
  padding: 5px 10px;
}
.logo {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
}
.header-counter {
  margin: 0;
  margin-left: 10px;
  font-size: 17px;
}
